/* Bio area */
div.profile-pic {
    margin-top: 1em;
}

figure.profile-pic img {
    /* border-radius: 500px; */
    width: 80%;
    max-width: 190px;
    margin: 0 auto;
    display: block;
}

.bio-info {
    margin: 1em auto;
    max-width: 220px;
}

.name {
    font-size: 1.5em;
}

.focusareas {
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
}

.whatido {
    margin-top: 1em;
}

.major {
    margin-top: 1em;
    text-justify: inter-character;
    text-align: justify;
}

.gradyear {
    margin-top: 1em;
}

/* Sidebar for blog archive / each post */
ul.ablog-archive {
    padding-left: 0px;
}

.bd-sidebar h2 {
    font-size: 1.4em;
}

.bd-sidebar ul {
    padding-left: 0;
    list-style-type: none;
}

.bd-sidebar li {
    padding-bottom: .5em;
}

div.bd-sidebar h3, div.bd-sidebar h2, div.bd-sidebar ul {
    padding-left: 5%;
}

/* In-page post lists */
ul.postlist {
    padding-left: 0;
}

ul.postlist > li > p:first-child {
    font-size: 1.5em;
}

ul.postlist li + li {
    margin-top: 2em;
}

ul.postlist li > p > a {
    font-style: normal;
    font-size: 1.3em;
}


/* more space in navicons */

ul.navbar-nav  {
  font-size:1.5em ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



/* Timeline CSS */
div.timeline div.card {
    border: 0px;
}

div.timeline div.left {
    text-align: right;
    border-right: 1px solid black;
}

div.timeline div.entry::after {
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    content: "";
    top: 1em;
    display: block;
    position: absolute;
    border: 1px black solid;
    z-index: 999;
}

div.timeline div.entry.left::after {
    right: -.5em;
}

div.timeline div.entry.right::after {
    left: -.5em;
}


.slide {
    /* display: none; */
    animation-name: fade;
    animation-duration: 1.5s;
}


H1.pechakucha {
    display:none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}



/* Fancy Admonition stuff */
div.admonition.codeicon>.admonition-title:after {
    content: "\f121";
    /* the fa-code icon */
}

div.admonition.git>.admonition-title:after {
    content: "\f126";
    /* the fa-github icon */
}

/*  define the blue  cards*/
div.sd-card.blue {
    border-color: navy;
    border-width: 5px;
    box-shadow: lightblue;
}

div.sd-card.blue div.sd-card-header{
    background-color:  lightblue;
    color: navy;
}

div.sd-card.blue div.sd-card-footer{
    color: lightblue;
    background-color: navy;
}

/*  define the pink  cards*/
div.sd-card.pink {
    border-color: hotpink;
    border-width: 5px;
    box-shadow:  pink;
}
div.sd-card.pink div.sd-card-header {
    background-color:  pink;
}

/*  define the pink slides*/
div.sd-card.pink div.sd-card-footer{
    border-color: hotpink;
    background-color: lightpink;
    color:darkmagenta;
}


div.admonition.blue>.admonition-title:before {
    background-color: navy;
}

div.admonition.blue>.admonition-title:after {
    color: skyblue;
}

/* pink admonition ------------------------------ */
/*  this sets  */
div.admonition.pink {
    border-color: pink;
}

div.admonition.pink>.admonition-title:before {
    background-color:magenta;
}

div.admonition.pink>.admonition-title:after {
    color:maroon;
}

/* presentation mode -------------------------------- */

/* hide footer in fullscreen */
#slideshow:fullscreen div.sd-card-footer{
    display: none;
}

#slideshow:not(:fullscreen) div.sd-card-footer {
    display: inherit;
}


/* #slideshow:fullscreen{
    overflow: hidden;
} */

/* the background in full screen mode */
#slideshow::backdrop {
    background-color: darkblue;
}


#slideshow:not(:fullscreen) .controls {
    text-align: right;
}

/* put controls inthe bottom right of the screen and 
       on top of the slides in fullscreen */
#slideshow:fullscreen div.controls {
   position:absolute;
   bottom:0px;
   right: 0px;
   z-index: 100; /* this line is functional*/
}



/* maximize cards in fullscreen */
/*  maximize carousel so that cards can be maxed*/
#slideshow:fullscreen div.sd-cards-carousel {
    height: 100%;
    overflow: hidden;
}


/*  maximize the cards  in  full screen only*/
#slideshow:fullscreen div.sd-card {
    height: 100%;
    width: 100%;
    /* text-align: center;
    vertical-align: middle; */
    display: block;
}

#slideshow:not(:fullscreen) div.sd-card {
    height: inherit;
}

/* center the images in fullscreen */
#slideshow:fullscreen div.sd-card img{
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 800px;
    transform: translateX(-50%) translateY(-50%);
}

#slideshow:not(:fullscreen) div.sd-card img {
    position: relative;
}

/* site view button only on in fullscreen */
#slideshow:not(:fullscreen) #pageview{
    display:none;
}

#slideshow:fullscreen #pageview{
    display:block;
}

/* presentation button off in fullscreen */
#slideshow:fullscreen #presentation{
    display: none;
}

#slideshow:not(:fullscreen) #presentation{
    display: block;
}


/* slide animation opacity */
@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

/* slide animation slide in */
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* slide in from right then out to left */
/*  to ue this one, set duration to 20s */
@keyframes slideinout {
    0% {
        margin-left: 100%;
        width: 300%;
    }

    5% {
        margin-left: 0%;
        width: 100%;
    }

    95% {
        margin-left: 0%;
        width: 100%;
    }

    100% {
        margin-left: -100%;
        width: 300%;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}